# Ignore flake
nixos/flake.lock

# Icon configuration
themes/.icons/*
!themes/.icons/Papirus
!themes/.icons/Papirus-Dark
!themes/.icons/Papirus-Light

# Theme configuration
themes/.themes/*
!themes/.themes/Adwaita-Mono

# SystemD
systemd/user/*
!systemd/user/
!systemd/user/battery-alert.*

# Hyprland
hyprland/*
!hyprland/modules
!hyprland/hyprland.conf
!hyprland/hyprlock.conf
