[submodule "zsh/.p10k"]
	path = zsh/.p10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "shell/.p10k"]
	path = shell/.p10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "zsh/.zsh/plugins/powerlevel10k"]
	path = zsh/.zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
