/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color destructive_bg_color @red_4;
@define-color destructive_fg_color #dfdfdf;
@define-color success_bg_color @green_5;
@define-color success_fg_color #dfdfdf;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color RGB(0 0 0 / 80%);
@define-color error_bg_color @red_4;
@define-color error_fg_color #dfdfdf;
@define-color accent_color #9f9f9f;
@define-color accent_bg_color #9f9f9f;
@define-color destructive_color oklab(from @destructive_bg_color max(l, 0.85) a b);
@define-color success_color oklab(from @success_bg_color max(l, 0.85) a b);
@define-color warning_color oklab(from @warning_bg_color max(l, 0.85) a b);
@define-color error_color oklab(from @error_bg_color max(l, 0.85) a b);
@define-color window_bg_color #1c1c1c;
@define-color window_fg_color #dfdfdf;
@define-color view_bg_color #1c1c1c;
@define-color view_fg_color #dfdfdf;
@define-color headerbar_bg_color #252525;
@define-color headerbar_fg_color #dfdfdf;
@define-color headerbar_border_color #404040;
@define-color headerbar_backdrop_color #252525;
@define-color headerbar_shade_color #404040;
@define-color headerbar_darker_shade_color #1c1c1c;
@define-color sidebar_bg_color #252525;
@define-color sidebar_fg_color #dfdfdf;
@define-color sidebar_backdrop_color #252525;
@define-color sidebar_shade_color #252525;
@define-color sidebar_border_color #404040;
@define-color secondary_sidebar_bg_color #252525;
@define-color secondary_sidebar_fg_color #dfdfdf;
@define-color secondary_sidebar_backdrop_color #252525;
@define-color secondary_sidebar_shade_color #252525;
@define-color secondary_sidebar_border_color #252525;
@define-color card_bg_color RGB(255 255 255/8%);
@define-color card_fg_color #dfdfdf;
@define-color card_shade_color #252525;
@define-color dialog_bg_color #2c2c2c;
@define-color dialog_fg_color #dfdfdf;
@define-color popover_bg_color #2c2c2c;
@define-color popover_fg_color #dfdfdf;
@define-color popover_shade_color RGB(0 0 6/25%);
@define-color thumbnail_bg_color #1c1c1c;
@define-color thumbnail_fg_color #dfdfdf;
@define-color shade_color RGB(0 0 6/25%);
@define-color scrollbar_outline_color RGB(0 0 12/95%);

* {
    color: #dfdfdf;
}

:root { --standalone-color-oklab: max(l, 0.85) a b; --accent-color: oklab(
    from var(--accent-color) var(--standalone-color-oklab)
  ); --destructive-color: oklab(
    from var(--destructive-bg-color) var(--standalone-color-oklab)
  ); --success-color: oklab(
    from var(--success-bg-color) var(--standalone-color-oklab)
  ); --warning-color: oklab(
    from var(--warning-bg-color) var(--standalone-color-oklab)
  ); --error-color: oklab(
    from var(--error-bg-color) var(--standalone-color-oklab)
  ); --active-toggle-bg-color: rgb(255 255 255 / 20%); --active-toggle-fg-color: #dfdfdf; --overview-bg-color: #2c2c2c; --overview-fg-color: #dfdfdf; }

@import '../gtk-3.0/libadwaita.css';
@import '../gtk-3.0/libadwaita-tweaks.css';
