@import url("./colors.css");

window#waybar {
  font: 13.125pt "JetBrainsMono Nerd Font";
  background-color: @bg;
  border-bottom: 1px solid lighter(@bright-bg);
}

#window {
  color: #696969;
  padding-left: 5pt
}

#workspaces button {
  min-width: 10px;
  padding: 0 6px;
}

#workspaces button.active {
  border-radius: 0;
}

#workspaces button:hover {
  background: transparent;
}

#custom-expand-icon {
  font-size: 12pt;
  padding-right: 8pt;
}

#tray {
  padding-left: 4pt;
  padding-right: 4pt;
  background-color: lighter(@bright-bg);
}

#network {
  padding-right: 12.5pt;
}

#bluetooth {
  padding-right: 8pt;
  font-size: 13.5pt;
}

#pulseaudio {
  font-size: 11.25pt;
  padding-right: 15pt;
}

#clock {
  padding-left: 10pt;
  padding-right: 8pt;
}
