@import url("./colors.css");

window#waybar {
  font: 13.5pt "MesloLGS Nerd Font Propo";
  background-color: @bg;
  border-bottom: 1px solid lighter(@bright-bg);
  color: @fg;
}

#clock {
  color: @fg;
  padding-left: 8pt;
  padding-right: 4pt;
}

/* Custom menu section */
#custom-menu {
  margin-left: 5pt;
  margin-right: 5pt;
  font-size: 15pt;
  color: @blue;
}

/* Power icon/module */
#custom-power {
  margin-left: 9pt;
  margin-right: 3pt;
  /* color: @red; */
}

/* Network module */
#network {
  margin-right: 11pt;
}

/* PulseAudio module */
#pulseaudio {
  font-size: 15pt;
  margin-right: 12pt;
}

/* System tray */
#tray {
  margin-left: 4pt;
  padding-left: 5pt;
  padding-right: 5pt;
  background-color: lighter(@bright-bg);
}

/* Window title or active window module */
#window {
  color: #5f5f5f;
  padding-left: 6pt;
  padding-right: 6pt;
}

/* Workspaces buttons */
#workspaces button {
  min-width: 6px;
  padding: 0 3px;
  color: @fg;
}

#workspaces button.active {
  border-radius: 0;
}

#workspaces button:hover {
  background: transparent;
}
