@import url("./colors.css");

window#waybar {
    font-family: "Rubik", sans-serif;
    font-size: 13.5pt;
    background-color: rgba(30, 32, 33, 0.8);
    color: @fg;
}

#sys-info {
    background-color: @bright-bg;
    margin-top: 3pt;
    margin-bottom: 3pt;
    border-radius: 12pt;
}

#clock { padding: 1pt 5.5pt 0 10pt; }

#custom-menu {
    margin: 0 5pt 0 8pt;
    font-size: 16pt;
    color: @blue;
}

#custom-power {
    color: @red;
    background-color: darker(#753431);
    margin: 3pt 8pt 3pt 5pt;
    border-radius: 12pt;
    padding: 0 7pt 0 6pt;
}

#network {
    color: @blue;
    padding: 0 15pt 0 8pt;
}

#pulseaudio {
    color: @magenta;
    font-size: 15pt;
    margin-right: 13pt;
}

#battery {
    color: @green;
    padding-right: 9pt;
}

#battery.low { color: @yellow; }

#battery.critical { color: @red; }

#tray { padding: 0 5pt 0 2pt; }

#window { padding-top: 1pt; }

#workspaces {
    background-color: @bright-bg;
    margin: 3pt 0 3pt 10pt;
    padding: 0 5.5pt 0 2pt;
    border-radius: 12pt;
}

#workspaces button {
    padding: 0 5pt;
    color: @fg;
}

#workspaces button.empty { color: #4d5051; }

#workspaces button.active { color: @cyan; }
