@import url("./colors.css");

window#waybar {
    font: 13.5pt "Rubik";
    /* background-color: @bg; */
    background-color: rgba(30, 32, 33, 0.8);
    /* border-bottom: 1px solid darker(#494949); */
    color: @fg;
}

#sys-info {
    background-color: @bright-bg;
    margin-top: 3pt;
    margin-bottom: 3pt;
    border-radius: 12pt;
}

#clock {
    /*
background-color: @bright-bg;
margin-top: 2pt;
margin-bottom: 2pt;
border: 1px solid #404040;
border-radius: 8px;
*/
    padding-top: 1pt;
    padding-left: 10pt;
    padding-right: 5.5pt;
}

/* Custom menu section */
#custom-menu {
    margin-left: 8pt;
    margin-right: 5pt;
    font-size: 16pt;
    color: @blue;
}

/* Power icon/module */
#custom-power {
    color: @red;
    background-color: darker(#753431);
    margin-top: 3pt;
    margin-bottom: 3pt;
    border-radius: 12pt;
    margin-right: 8pt;
    margin-left: 5pt;
    padding-left: 6pt;
    padding-right: 7pt;
    /* color: @red; */
}

/* Network module */
#network {
    color: @blue;
    padding-right: 15pt;
    padding-left: 8pt;
}

/* PulseAudio module */
#pulseaudio {
    color: @magenta;
    font-size: 15pt;
    margin-right: 13pt;
}

#battery {
    color: @green;
    padding-right: 9pt;
}

#battery.low {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

/* System tray */
#tray {
    padding-left: 2pt;
    padding-right: 5pt;
}

/* Window title or active window module */
#window {
    /* color: #9F8F72; */
    padding-top: 1pt;
    padding-left: 6pt;
    padding-right: 6pt;
}

#workspaces {
    background-color: @bright-bg;
    margin-top: 3pt;
    margin-bottom: 3pt;
    margin-left: 10pt;
    padding-left: 2pt;
    padding-right: 5.5pt;
    border-radius: 12pt;
}

/* Workspaces buttons */
#workspaces button {
    padding: 0 5pt;
    color: @fg;
}

#workspaces button.empty {
    color: #4d5051;
}

#workspaces button.active {
    color: @cyan;
}

#workspaces button:hover {
    color: darker(@cyan);
    background: transparent;
}
