@import url("./colors.css");

window#waybar {
  font: 13.5pt "JetBrainsMono Nerd Font";
  background-color: @bg;
  border-bottom: 1px solid lighter(@bright-bg);
  color: @fg;
}

/* Modules with top margin */
#battery,
#custom-menu,
#custom-power,
#network,
#pulseaudio
#clock,
#workspaces button {
  margin-bottom: 1pt;
}

#clock {
  color: @fg;
  padding-left: 8.5pt;
}

/* Custom menu section */
#custom-menu {
  margin-left: 5pt;
  margin-right: 8pt;
  font-size: 15pt;
  color: @cyan;
}

/* Power icon/module */
#custom-power {
  margin-left: 10pt;
  margin-right: 6.5pt;
  color: @red;
}

/* Network module */
#network {
  margin-right: 15pt;
}

/* PulseAudio module */
#pulseaudio {
  font-size: 11.25pt;
  margin-right: 17.5pt;
}

/* System tray */
#tray {
  margin-left: 4pt;
  padding-left: 5pt;
  padding-right: 5pt;
  background-color: lighter(@bright-bg);
}

/* Window title or active window module */
#window {
  color: #595959;
  padding-left: 8pt;
  padding-right: 8pt;
}

/* Workspaces buttons */
#workspaces button {
  min-width: 12px;
  padding: 0 6px;
  color: @fg;
}

#workspaces button.active {
  border-radius: 0;
}

#workspaces button:hover {
  background: transparent;
}
