/* Colors */
@define-color bg                     #1d2021;
@define-color fg                     #d4be98;
@define-color red                    #ea6962;
@define-color green                  #a9b665;
@define-color yellow                 #d8a657;
@define-color blue                   #7daea3;
@define-color magenta                #d3869b;
@define-color cyan                   #89b482;

/* Bright colors */
@define-color bright-bg              #2b2d2d;
@define-color bright-fg              #fff0be;
@define-color bright-red             #ff847b;
@define-color bright-green           #d3e17e;
@define-color bright-yellow          #ffcf6d;
@define-color bright-blue            #acdfff;
@define-color bright-magenta         #ffacc2;
@define-color bright-cyan            #9cd9cc;
